{{!referenced this article https://medium.com/@sterlingcobb/how-to-build-a-realtime-chatting-app-with-firebase-and-emberjs-from-scratch-8ef614acf820}}

<div class="jumbotron">
  <div class="container">
    <h1>Discussion Board</h1>

    <!-- Chatting with EmberFire -->
    {{#each model as |messages|}}
      <div class="each-msg">{{messages.name}} : {{messages.body}}</div>
    {{/each}}
    <div class="new-msg-form">
      {{input type="text" placeholder="Name" value=name class="name-input"}} {{input type="text" placeholder="Message" value=body class="msg-input"}}
     <button {{action 'addMessage'}} class ="btn btn-primary"> Submit </button>
    </div>
    <!-- {{outlet}} -->
  </div>
</div>
<footer>
  <p>Group Members: Aishwarya Iyer, Joshua Marvel, Tevisophea Heng, Kimberly Nguyen, Briana Hernandez</p>

</footer>
